<!DOCTYPE html>
<html lang="{{.Lang}}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Title}}</title>
    <meta name="description" content="{{.Description}}>" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="/static/favicon.ico" />
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1324310103820152"
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-CKYYWJ7FVV"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-CKYYWJ7FVV");
    </script>
  </head>
  <body>
    <header>
      <h1>link-to-qrcode</h1>
      <nav>
        <ul>
          <li><a href="/{{.Lang}}">{{.HomeLinkLabel}}</a></li>
          <li><a href="/{{.Lang}}/about">{{.AboutLinkLabel}}</a></li>
          <li><a href="/{{.Lang}}/contact">{{.ContactLinkLabel}}</a></li>
          <li><a href="/{{.Lang}}/faq">{{.FaqLinkLabel}}</a></li>
          <li><a href="/{{.Lang}}/privacy">{{.PrivacyLinkLabel}}</a></li>
          <li><a href="/{{.Lang}}/terms">{{.TermsLinkLabel}}</a></li>
          <li>
            <form id="selectlangform" action="/selectlang" method="post">
              <input type="hidden" id="lang" name="lang" value="{{.Lang}}">
            </form>
           
            <div id="selectlang" data-lang="{{.Lang}}"><img class="flag" src="/static/img/flags/{{.Lang}}.png" alt="{{.Lang}}"> <img id="chevron" class="icon" src="/static/img/icons/bottom_arrow.png"></div>

            <ul id="listlang">
              {{range .SelectLangs}}
                {{if eq . $.Lang}}
                  {{continue}}
                {{else}}
                  <li data-lang="{{.}}"><img class="flag" src="/static/img/flags/{{.}}.png" alt="{{.}}"></li>
                {{ end }}
              {{end}}
           </ul>
          </li>
        </ul>

        
      </nav>

    </header>
    <main>
      <div class="container">
    <h1>{{.Title}}</h1>
    {{if eq .Tpl "about"}}
      {{template "about" .}} 
    {{else if eq .Tpl "contact"}}
      {{template "contact" .}}
    {{else if eq .Tpl "faq"}}
      {{template "faq" .}}
    {{else if eq .Tpl "generate"}}
      {{template "generate" .}}
    {{else if eq .Tpl "privacy"}}
      {{template "privacy" .}}
    {{else if eq .Tpl "terms"}}
      {{template "terms" .}}
    {{end}}
      </div>
    </main>
    <footer>
      <p>&copy; 2023 link-to-qrcode</p>
  </footer>
    <script src="/static/js/main.js"></script>
  </body>
</html>
