<!DOCTYPE html>
<html lang="{{.Lang}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Title}}</title>
        <meta name="description" content="Generate QR codes with ease">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
<body>
    {{template "content" .}}
    <script src="/static/js/main.js"></script>
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CKYYWJ7FVV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CKYYWJ7FVV');
</script>

</body>
</html>
