{{define "generate"}}

    <form action="/generate" method="post">
        <label for="text-input">{{.InputLabel}}</label>
        <input type="text" id="text-input" name="data" required>
        <button type="submit">{{.GenerateButtonLabel}}</button>
        <input type="hidden" name="lang" value="{{.Lang}}">
    </form>
    {{if .QrCode}}
    
    <img id="imgQr" src="{{.QrCode}}" alt="QR Code">
    <div class="qr-code-wrapper">
        <button id="copy-to-clipboard" class="button">{{.CopyToClipboardButtonLabel}}</button>
        <button id="download" href="{{.QrCode}}" download class="button">{{.DownloadButtonLabel}}</a>
    </div>
    {{end}}
{{end}}
