{{define "content"}}
    <h1>{{.Title}}</h1>
    <form action="/generate" method="post">
        <label for="text-input">{{.InputLabel}}</label>
        <input type="text" id="text-input" name="data" required>
        <button type="submit">{{.GenerateButtonLabel}}</button>
        <input type="hidden" name="lang" value="{{.Lang}}">
    </form>
    {{if .QrCode}}
        <img id="imgQr" src="{{.QrCode}}" alt="QR Code">
        <button id="copy-to-clipboard" style="display:none;">{{.CopyToClipboardButtonLabel}}</button>
        <button id="download">{{.DownloadButtonLabel}}</button>
    {{end}}
{{end}}
